name: Java Maven CI

on:
  push:
    branches: [ main ]
  pull_request:

env:
  DOCKER_IMAGE: haniazipser2004/awesome-amazing-project

jobs:
  build:
    environment: dev
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Make mvnw executable
      run: chmod +x ./mvnw

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Cache Maven dependencies
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Run tests
      run: ./mvnw -q test

    - name: Log in to Docker
      uses: docker/login-action@v2
      with:
          username: ${{ vars.DOCKER_ID }}
          password: ${{ secrets.DOCKER_PAT }}

    - name: Set image tags
      id: tags
      run: |
        if [ "${{ github.ref }}" = "refs/heads/main" ]; then
        echo "tags=${{ env.DOCKER_IMAGE }}:latest,${{ env.DOCKER_IMAGE }}:${{ github.sha }}" >> $GITHUB_OUTPUT
        else
        echo "tags=${{ env.DOCKER_IMAGE }}:${{ github.ref_name }}-${{ github.sha }}" >> $GITHUB_OUTPUT
        fi

    - name: Build and push Docker image
      run: |
        mvn spring-boot:build-image \
          -Dspring-boot.build-image.imageName=${{ env.DOCKER_IMAGE }}:temp \
          -Dspring-boot.build-image.builder=gcr.io/buildpacks/builder:v1 \
          -Dspring-boot.build-image.env.BP_JVM_VERSION=21
        
        IFS=',' read -ra TAG_ARRAY <<< "${{ steps.tags.outputs.tags }}"
        for tag in "${TAG_ARRAY[@]}"; do
          docker tag ${{ env.DOCKER_IMAGE }}:temp $tag
          docker push $tag
        done
        
        docker rmi ${{ env.DOCKER_IMAGE }}:temp